.main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 6.25em;
}

.btn {
    position: absolute;
    top: 0.625em;
    right: 0.625em;
    font-size: 3.75em;
    cursor: pointer;
    z-index: 6.3125em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prev {
    font-size: 3.125em;
    margin: 0 6.25em;
    cursor: pointer;
    z-index: 6.3125em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.next {
    font-size: 3.125em;
    margin: 0 6.25em;
    cursor: pointer;
    z-index: 6.3125em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.imgs {
    z-index: 6.3125em;
}

.none {
    display: none;
}

.last {
    opacity: 0.5;
}
