.main {
    width: 100%;
    margin: 0.625em 0;
    display: flex;
    flex-direction: column;
}

.none {
    display: none;
}

.title {
    font-size: 1.875em;
}

.moneybody {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0.625em 0;
}

.inputbox {
    font-size: 1.875em;
    background: none;
    border: none;
    text-align: right;
    border-bottom: 0.0625em solid #111111;
}

.inputbox:focus {
    outline: none;
}

.money {
    margin: 1.25em 0;
    font-size: 1.25em;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.875em;
}

.btn:hover {
    font-weight: bold;
}
