.main {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.none {
  display: none;
}

.money {
  margin: 10px 0;
  font-size: 20px;
}
