.main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10em;
}

.body {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.navs {
    display: flex;
    width: 100%;
    background: #f6f6f6;
    border: 0.0625em solid #eaecf2;
    padding: 1.25em 0;
    border-radius: 1.875em;
}

.titles {
    padding-left: 0.625em;
    font-size: 1.5em;
    line-height: 4.25em;
}
