.none {
    display: none;
}

.main {
    margin-left: auto;
}

.btn {
    font-size: 1.0625em;
    background: none;
    padding: 1.25em;
    border: none;
    cursor: pointer;
}

.btn:hover {
    font-weight: bold;
}
