.content {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.titls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delteBtn {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.contentMain {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 20px;
}

.title {
  font-size: 30px;
}

.imgBtn {
  cursor: pointer;
}
