.content {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.delete {
  display: flex;
  justify-content: right;
}

.delteBtn {
  margin: 20px;
  font-size: 17px;
  background: #f8f9fa;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.delteBtn:hover {
  background: #f1f3f5;
}

.contentMain {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 20px;
}
