.none {
    display: none;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.daylist {
    display: flex;
    align-items: center;
    margin-top: 1.25em;
}

.daytitle {
    font-size: 1.875em;
    margin-right: 1.25em;
    color: rgba(1, 1, 1, 0.5);
    cursor: pointer;
}

.daylist form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    background: none;
    line-height: 1.875em;
    border: none;
    font-size: 1.875em;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
