.lists {
  height: 500px;
  overflow-y: scroll;
  width: 70%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.addressTitle {
  margin: 10px 0;
}

.addressInput {
  margin: 10px 0;
  background: none;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid #111111;
}

.addressInput:focus {
  outline: none;
}

.addressList {
  line-height: 25px;
  font-size: 20px;
}

.address {
  cursor: pointer;
}

.inputList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inputs {
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-items: center;
  flex-direction: column;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description label {
  font-size: 30px;
  margin: 20px 0;
}

.todidInput {
  width: 50%;
  height: 100px;
  font-size: 20px;
  text-align: start;
}

.textareas {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Inputbtn {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
