.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #eee;
  /* background-color: ; */
}

.addressList {
  line-height: 25px;
  font-size: 20px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin: 20px 0;
}

.addressTitle {
  margin: 10px 0;
}

.addressInput {
  margin: 10px 0;
  background: none;
  border: none;
  font-size: 20px;
  border-bottom: 1px solid #111111;
}

.addressInput:focus {
  outline: none;
}

.address {
  cursor: pointer;
}

.inputList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description label {
  font-size: 30px;
  margin: 20px 0;
}

.todidInput {
  width: 100%;
  height: 100px;
  font-size: 20px;
  text-align: start;
}

.textareas {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.btnbody {
  display: flex;
  justify-content: right;
  width: 100%;
  margin: 20px 0;
}

.Inputbtn {
  background: none;
  border: none;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}
