.main {
    display: flex;
    flex-direction: column;
    padding-top: 7.5em;
    width: 100%;
    align-items: center;
}

.content {
    width: 80%;
}

.title {
    font-size: 6.25em;
}

.btns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.25em 0;
}

.none {
    display: none;
}

.btn {
    background: none;
    border: none;
    font-size: 1.25em;
    cursor: pointer;
    padding: 0;
}

.btn:hover {
    font-weight: bold;
}
