.none {
  display: none;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
  width: 100%;
}

.menu {
  display: flex;
  width: 20%;
  /* margin: 10px 0; */
  /* background-color: #868e96; */
  margin: 10px 0;
  /* align-items: center; */
  justify-content: space-around;
}

.home {
  font-weight: bold;
  font-size: 32px;
  color: black;
  text-decoration: none;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.body {
}

.btn {
  font-size: 20px;
  background: none;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.btns {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  margin: 10px 0;
}
