.none {
  display: none;
}

.main {
  display: flex;
  flex-direction: row-reverse;
  /* align-items: center; */
  width: 100%;
}

.menu {
  display: flex;
  width: 20%;
  /* margin: 10px 0; */
  /* background-color: #868e96; */
  margin: 10px 0;
  /* align-items: center; */
  justify-content: space-around;
}

.home {
  font-weight: bold;
  font-size: 32px;
  color: black;
  text-decoration: none;
}

.title {
  font-size: 100px;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.btn {
  margin: 20px 0;
  font-size: 17px;
  background: #f8f9fa;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #f1f3f5;
}

.btns {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 10px 0;
}
