.main {
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.none {
  display: none;
}

.title {
  font-size: 30px;
}

.moneybody {
  margin: 10px 0;
}

.inputbox {
  font-size: 20px;
  background: none;
  border: none;
  border-bottom: 1px solid #111111;
}

.inputbox:focus {
  outline: none;
}

.money {
  margin: 10px 0;
  font-size: 20px;
}

.btn {
  margin: 20px;
  font-size: 20px;
  background: #f8f9fa;
  padding: 20px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}
