.btnDiv {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.btn {
    font-size: 1.25em;
    background: #f8f9fa;
    padding: 1.25em;
    border: 0.0625em solid #ced4da;
    border-radius: 0.625em;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: #f1f3f5;
}
