.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #ced4da;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 10px;
}

.logined {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.register {
  margin: 0 20px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}

.setting {
  margin: 0 20px;
  font-size: 18px;
  color: black;
  text-decoration: none;
}
